<div class = "news">
 <h1>#BlackTwitter Politics</h1>
  <% @tweet_politics.each do |tweet| %>
   <div class = "row">
    <div class = "col-lg-4">
     <blockquote class="twitter-tweet"
      data-link-color="#55acee" lang="en">
      <p><%= tweet.content %></p>
      <a href= "<%= tweet.tweet_url %>"></a>
    </blockquote>
  <% end %>
  </div>
  </div>
