
<div class = "wrapper">
 <div class = "news">
  <h1>#BlackTwitter Politics</h1>
   <% @tweet_politics.in_groups_of(4,false).each do |group| %>
    <div class = "row">
     <% group.each do |tweet| %>
      <div class = "col-lg-4">
       <blockquote class="twitter-tweet"
        data-link-color="#55acee" lang="en">
        <p><%= tweet.content %></p>
        <a href= "<%= tweet.tweet_url %>"></a>
       </blockquote>
      </div >
     <% end %>
    </div>
   <% end %>
  </div>
</div>
