<div class = "create_tweet">
  <h1>SUCCESS!! You Have Tweeted About The Cause!</h1>
  <h3>Score One For GriffinDor!</h3>
    <div class = "tweet_bird">
    <img src = "assets/tweetPink.jpg"></img>
    </div>
  <h2>+1 For Your Account!</h2>

</div>
