
<div class = "row">
  <div class = "col-lg-4">
    <i class="fa fa-twitter"></i>
    <p> Sincerely, The Management</p>
  </div>
  <div class = "col-lg-8">
    <p class = "about">
      Tiramisu lemon drops tiramisu macaroon marshmallow gummi bears marzipan pie.
      Muffin dragée cheesecake bonbon bear claw cheesecake carrot cake. Gingerbread
      bonbon marzipan icing dessert marshmallow tart. Chocolate danish sweet roll
      lemon drops bear claw pudding bear claw topping muffin. Fruitcake icing cotton
      candy dessert croissant gingerbread ice cream cake candy canes. Pudding dragée
      jelly tart wafer danish liquorice. Muffin tootsie roll danish marzipan cupcake
      toffee. Jujubes pudding chocolate cake. Sesame snaps danish liquorice jujubes
      topping. Icing sesame snaps soufflé soufflé pastry sugar plum. Candy
      canes icing cupcake marshmallow muffin jujubes pudding. Fruitcake
      sweet roll ice cream gummies dessert wafer.
     </p>
 </div>
</div>

<div>
  <p class = "about">
   Cookie powder tart sesame snaps pastry lollipop soufflé.
   Donut fruitcake cotton candy biscuit tootsie roll wafer sweet muffin cotton candy.
   Apple pie sesame snaps croissant. Wafer toffee topping gummi bears
   candy sesame snaps. Macaroon caramels jelly lollipop tiramisu. Biscuit sweet
   toffee biscuit tart candy canes jelly dragée fruitcake. Cake cookie powder
   lollipop wafer sweet. Tiramisu brownie tiramisu danish tootsie roll. Sweet
   roll toffee topping pudding gingerbread chocolate cake topping cupcake toffee.
   Liquorice chocolate cake liquorice candy cotton candy brownie. Tootsie roll
   carrot cake bonbon. Caramels chocolate muffin macaroon sugar plum tootsie roll
   chocolate fruitcake. Bonbon chocolate cake wafer. Liquorice caramels macaroon.
  </p>
  <p class = "about">
    Cookie powder tart sesame snaps pastry lollipop soufflé.
    Donut fruitcake cotton candy biscuit tootsie roll wafer sweet muffin cotton candy.
    Apple pie sesame snaps croissant. Wafer toffee topping gummi bears
    candy sesame snaps. Macaroon caramels jelly lollipop tiramisu. Biscuit sweet
    toffee biscuit tart candy canes jelly dragée fruitcake. Cake cookie powder
    lollipop wafer sweet. Tiramisu brownie tiramisu danish tootsie roll. Sweet
    roll toffee topping pudding gingerbread chocolate cake topping cupcake toffee.
    Liquorice chocolate cake liquorice candy cotton candy brownie. Tootsie roll
    carrot cake bonbon. Caramels chocolate muffin macaroon sugar plum tootsie roll
    chocolate fruitcake. Bonbon chocolate cake wafer. Liquorice caramels macaroon.
  </p>
</div>
