hey Now

<button>hey now</button>

<div class ="homeheader">
  <div class = "row">

    <div class = "col-lg-7">

    </div>
    <div class = "col-lg-5">
      <div class = "col-lg-6">

      </div>
      <div class = "col-lg-6">

      </div>
    </div>

  </div>
</div>

<div class= "about">
  <p>
    TheBot-The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
  </p>
  <p>
    Search By Topic of Interest, Tag Favorites, and Join The Conversation
  </p>
  <p>
    TheBot-Created By The People/For The People
  </p>
</div>
