
<div class ="homeheader">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/newsbot.jpg" alt="...">
        <div class="carousel-caption">
          <h1>Latest and Greatest News</h1>
        </div>
      </div>
      <div class="item">
        <img src="assets/music.jpg" alt="...">
        <div class="carousel-caption">
          <h1>Latest and Greatest News</h1>
        </div>

      </div>
      ...
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class= "about">
    <p>
    CAROUSEL  TheBot-The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
    </p>
    <p>
      Search By Topic of Interest, Tag Favorites, and Join The Conversation
    </p>
    <p>
      TheBot-Created By The People/For The People
    </p>
    <i class="fa fa-arrow-circle-o-down"></i>
  </div>


  <div class = "row">
   <div class = "col-lg-7 banner">
     <span class="text-content"><span>#Black Twitter General News </span></span>
   </div>

   <div class = "col-lg-5">
    <div class = "row">
     <div class = "col-lg-6 politics">
       <span class="text-content"><span>Politics</span></span>
     </div>
     <div class = "col-lg-6 socialjustice">
       <span class="text-content"><span>Social Justice</span></span>
     </div>
    </div>

    <div class = "row">
     <div class = "col-lg-6 film">
       <span class="text-content"><span>Film</span></span>
     </div>
     <div class = "col-lg-6 music">
       <span class="text-content"><span>#Music</span></span>
     </div>
    </div>
   </div>
  </div>

</div>


 <div class = "jumbotron">
  <div class= "tech-about">
   <div class = "row">
    <div class = "col-lg-5">
      <p>
        TheBot-The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
      </p>
      <p>Search By Topic of Interest, Tag Favorites, and Join The Conversation</p>
      <p>TheBot-Created By The People/For The People</p>
     </div>
     <div class = "col-lg-7">
      <p>Image Placeholder</p>
     </div>
   </div>

  <div class = "row">
   <div class = "col-lg-5">
    <p>Image Placeholder</p>
   </div>
   <div class = "col-lg-7">
    <p>
      TheBot-The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
    </p>
    <p>Search By Topic of Interest, Tag Favorites, and Join The Conversation</p>
    <p>TheBot-Created By The People/For The People</p>
   </div>
  </div>
 </div>
</div>
