

<% if current_user %>
<div class="jumbotron">
  <div class="container">
    <h1>The Bot</h1>
    <form>
      <input>Username</input>
      <input>Email</input>
      <button></button>
    </form>
  </div>
</div>
<% else %>
<div class="jumbotron">
  <div class="container">
    <h1>The Bot</h1>
  </div>
</div>
<%end %>
</ul>
<div class ="homeheader">




  <div class= "about">
    <p>
    CAROUSEL  TheBot-The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
    </p>
    <p>
      Search By Topic of Interest, Tag Favorites, and Join The Conversation
    </p>
    <p>
      TheBot-Created By The People/For The People
    </p>
    <i class="fa fa-arrow-circle-o-down"></i>
  </div>


  <div class = "row">
   <div class = "col-lg-7 banner">
     <span class="text-content"><span>#Black Twitter General News </span></span>
   </div>

   <div class = "col-lg-5">
    <div class = "row">
     <div class = "col-lg-6 politics">
       <span class="text-content-small"><span>Politics</span></span>
     </div>
     <div class = "col-lg-6 socialjustice">
       <span class="text-content-small"><span>Social Justice</span></span>
     </div>
    </div>

    <div class = "row">
     <div class = "col-lg-6 film">
       <span class="text-content-small"><span>Film</span></span>
     </div>
     <div class = "col-lg-6 music">
       <span class="text-content-small"><span>#Music</span></span>
     </div>
    </div>
   </div>
  </div>

</div>


 <div class = "jumbotron">
  <div class= "tech-about">
   <div class = "row">
    <div class = "col-lg-5">
      <p>
        TheBot-The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
      </p>
      <p>Search By Topic of Interest, Tag Favorites, and Join The Conversation</p>
      <p>TheBot-Created By The People/For The People</p>
     </div>
     <div class = "col-lg-7">
      <p>Image Placeholder</p>
     </div>
   </div>

  <div class = "row">
   <div class = "col-lg-5">
    <p>Image Placeholder</p>
   </div>
   <div class = "col-lg-7">
    <p>
      TheBot-The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
    </p>
    <p>Search By Topic of Interest, Tag Favorites, and Join The Conversation</p>
    <p>TheBot-Created By The People/For The People</p>
   </div>
  </div>
 </div>
</div>
