<% if current_user %>
 <div>
  <div class = "row">
    <div class = "col-lg-8">
      <h1>Trending Topics</h1>
      <div id="example" style="width: 550px; height: 350px;"></div>
    </div>
    <div class = "col-lg-4">
      <h3>Post A Tweet About BlackTwitter</h3>
      <p>
        <%= form_for :tweet, url: tweets_path, method: :post do |f| %>
        <%= f.text_field :message, :class => "tweet_input" %>
        <%= f.submit :class => "btn btn-info center-block" "Send Tweet" %>
        <% end %>
      </p>
    </div>
  </div>
 </div>

  <div cla  ss = "row">
   <div class = "col-lg-7 banner">
    <span class="text-content_banner"><span><p>#Black Twitter General News</p></span></span>
   </div>

   <div class = "col-lg-5">
    <div class = "row">
     <div class = "col-lg-6 politics">
       <span class="text-content_politics"><span>Politics</span></span>
     </div>
     <div class = "col-lg-6 socialjustice">
       <span class="text-content_sj"><span>Social Justice</span></span>
     </div>
    </div>

    <div class = "row">
     <div class = "col-lg-6 film">
       <span class="text-content_film"><span>Film</span></span>
     </div>
     <div class = "col-lg-6 music">
       <span class="text-content_music"><span>#Music</span></span>
     </div>
    </div>
   </div>
  </div>
</div>


<div class ="homeheader">
  <div class = "about">
   <p>The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!</p>
   <p>Search By Topic of Interest, Tag Favorites, and Join The Conversation</p>
   <p>TheBot-Created By The People/For The People</p>
   <i class="fa fa-arrow-circle-o-down"></i>
  </div>
</div>

<div class = "">
 <div class= "tech-about">
  <div class = "row">
   <div class = "col-lg-7">
    <img src = "/assets/hand.jpg"></img>
    </div>
    <div class = "col-lg-5">
      <p>
        TheBot-The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
      </p>
      <p>Search By Topic of Interest, Tag Favorites, and Join The Conversation</p>
      <p>TheBot-Created By The People/For The People</p>
    </div>
  </div>
</div>

 <div class = "">
  <div class= "tech-about">
   <div class = "row">
    <div class = "col-lg-5">
      <p>
        TheBot-The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
      </p>
      <p>Search By Topic of Interest, Tag Favorites, and Join The Conversation</p>
      <p>TheBot-Created By The People/For The People</p>
     </div>
     <div class = "col-lg-7">
      <img src = "/assets/manlook.jpg"></img>
     </div>
   </div>
  </div>

<% else %>

  <div class="jumbotron">
   <div class = "row">
    <div class = "col-lg-7">
      <h1>The BOT</h1>
      <ul>
        <li><h2> Step 1: Sign Up!</h2></li>
        <li><h2> Step 2: Choose Your Topic!</h2></li>
        <li><h2> Step 3: Read and Tweet!</h2></li>
      </ul>
    </div>
    <div class = "col-lg-5">
      <form>
        <ul>
          <li><h3>Sign In Today!</h3></li>
          <li><input placeholder ="Username"></input></li>
          <li><input placeholder ="Email"></input></li>
          <li><input placeholder ="Photo"></input></li>
          <button type = "button", class = "btn btn-info center-block"><a href = "/auth/twitter"> Sign In With Twitter</a></button>
        </ul>
      </form>
    </div>
  </div>
</div>


<div class ="homeheader">
 <div class= "about">
   <p>
   The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
   </p>
   <p>
     Search By Topic of Interest, Tag Favorites, and Join The Conversation
   </p>
   <p>
     TheBot-Created By The People/For The People
   </p>
   <i class="fa fa-arrow-circle-o-down"></i>
 </div>

<div class = "">
 <div class= "tech-about">
  <div class = "row">
   <div class = "col-lg-7">
    <img src = "/assets/hand.jpg"></img>
    </div>
    <div class = "col-lg-5">
      <p>
        TheBot-The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
      </p>
      <p>Search By Topic of Interest, Tag Favorites, and Join The Conversation</p>
      <p>TheBot-Created By The People/For The People</p>
    </div>
  </div>
</div>

 <div class = "">
  <div class= "tech-about">
   <div class = "row">
    <div class = "col-lg-5">
      <p>
        TheBot-The First Site that Aggregates News From #BlackTwitter To Give You The Latest And Greatest, Related To The Movement!
      </p>
      <p>Search By Topic of Interest, Tag Favorites, and Join The Conversation</p>
      <p>TheBot-Created By The People/For The People</p>
     </div>
     <div class = "col-lg-7">
      <img src = "/assets/manlook.jpg"></img>
     </div>
   </div>
  </div>

<%end %>
