<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>

<h1><%= current_user.username %></h1>
<h1>show how many tweets related to #blacktwitter</h1>
<h1>Show a dashboard of all tweets</h1>

<b><%= current_user.email %></b>

<%= image_tag current_user.avatar_url %>
