/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *= require jqcloud

 .wrapper{
   min-height:100vh;
 }
 /*sticky footer*/

 html, body {
     height: 100%;
     font-family: 'Work Sans', sans-serif
  }

.fa-arrow-circle-o-down:before{
  font-size:40px;
}

.row{
  margin:0
}



img{
  width:100%;
  /*height:250px;*/
}

.nav.nav-tabs{
  padding:40px;
  background-color:black;
  margin-bottom:0px;
}


.nav.nav-tabs li{
  padding-left:40px;
  float:right;
  color:white;
  background-color:black;
  font-size:20px;
}

 .about{
   text-align:center;
   height:300px;
   padding-top:40px;
 }

.about p {
  font-size:20px;
}


 .tech-about{
   height:500px;
   padding-top:40px;
 }

 .tech-about.row{
   padding-top:40px;
 }

 .homeheader{

 }

.col-lg-6{
  height:250px;
  padding:0;
  background-image: url("newsbot.jpg");
  /*experiment with the width below in terms of styling*/
  /*width:100%;*/
  background-image:cover;
}

.col-lg-6 img{
  height:250px;
}

.col-lg-5{
  padding-right:0px;
  padding-left:0px;
}

.banner{
background-image: url("botlogo.jpg");
background-size:cover;
height:500px;
}

.socialjustice{
  background-image: url("socialj.jpg");
  background-size:cover;
}

.politics{
  background-image: url("politics.jpg");
  background-size:cover;
}

.film{
  background-image: url("newsbot.jpg");
  background-size:cover;
}

.music{
  background-image: url("music.jpg");
  background-size:cover;
}


.col-lg-7{

  /*change this for the main images*/
  padding:0px;
}



.jumbotron{
  padding:30px;
  margin-bottom:0;
  height:700px;
}

footer{
  background-color:grey;
  height:300px;
  padding-top:80px;
  /*position:fixed;*/
}
