/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jqcloud
 *= require bootstrap
 *= require_tree .
 *= require_self
 */




.col-lg-7 h2{
  text-align:center;
  margin-bottom:50px;

}

.btn.btn-info a{
  color:white;
  font-size:25px;
  text-decoration:none;
}

.text-content_banner{
  visibility:hidden;
  font-size:40px;
  color:white;
  display: table-cell;
}

.text-content_politics{
  visibility:hidden;
  font-size:40px;
  color:white;
  display: table-cell;
}

.text-content_music{
  visibility:hidden;
  font-size:40px;
  color:white;
  display: table-cell;
}

.text-content_film{
  visibility:hidden;
  font-size:40px;
  color:white;
  display: table-cell;
}

.text-content_sj{
  visibility:hidden;
  font-size:40px;
  color:white;
  display: table-cell;
}

.col-lg-8 h1{
  margin-bottom:10px;
  margin-top:50px;
}

.jqcloud{
  padding-bottom:50px;
  margin:auto;
}

.about {
  font-size:20px;
  text-align:center;
}

.btn.btn-info{
  margin: auto;

}

.tweet_input{
  height:200px;
}

h3 {
  text-align:center;
}
.fa.fa-twitter{
  font-size:250px;
  text-align:center;
  margin-left:40px;
}

.jumbotron h1{
  color:white;
  font-size:160px;
  margin-bottom:0px;
}

.placeholder{
  padding-left:20px;
}

.jumbotron{
  background-image: url("newsbot.jpg");
  background-size:cover;
  height:500px;
}

form{
  float:right;
}

 ul{
  list-style-type: none;
}

input{
  margin-bottom:40px;
  margin-top:20px;
  width:444px;
  height:40px;
  font-size:25px;
  padding-left:10px;
}



.account_avatar{
  width:200px;
  text-align:center;

}

.avatar {
  width:50px;
  height:50px;
  margin-left:40%;
}

input[type=submit] {
  width:200px;
  float:right;
}


 .wrapper{
   min-height:100vh;
 }
 /*sticky footer*/

 html, body {
     height: 100%;
     font-family: 'Work Sans', sans-serif
  }

.fa-arrow-circle-o-down:before{
  font-size:40px;
}

.row{
  margin:0
}

img{
  width:100%;
  /*height:250px;*/
}

.nav.nav-tabs{
  padding-top:30px;
  background-color:black;
  margin-bottom:0px;
}


.nav.nav-tabs li{
  padding-left:40px;
  float:right;
  color:white;
  background-color:black;
  font-size:20px;
}



 .tech-about{
   height:500px;
   margin-top:80px;
   margin-bottom: 80px;

 }

 .tech-about.row{
   padding-top:40px;
 }

 .homeheader{

 }

.col-lg-6{
  height:250px;
  padding:0;
  background-image: url("newsbot.jpg");
  /*experiment with the width below in terms of styling*/
  /*width:100%;*/
  background-image:cover;
}

.col-lg-6 img{
  height:250px;
}

.col-lg-5{
  padding-right:0px;
  padding-left:0px;
}

.col-lg-5 p{
  padding-left:20px;
  font-size:20px

}

.banner{
height:500px;
position:relative;

}
.banner::before{
  background-color:black;
  content:"";
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:-1;
}

.banner::after{
  background: black url("botlogo.jpg");
  background-size:cover;
  content:"";
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:-1;
}

.banner:hover::after{
  opacity:0.7;
}

.banner:hover span{
  color:white;
  -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
           transition: all 0.5s linear;
}

.politics:hover span{
  color:white;
  -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
           transition: all 0.5s linear;
}

.socialjustice:hover span{
  color:white;
  -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
           transition: all 0.5s linear;
}


.socialjustice{
  background-image: url("socialj.jpg");
  background-size:cover;
}

.socialjustice:hover{

}

.politics{
  background-image: url("politics.jpg");
  background-size:cover;
}

.politics:hover{
    -webkit-filter: brightness(70%);
}

.text-content_film{
  font-size:40px;
}

.film{
  background-image: url("actress.jpg");
  background-size:cover;
}

.film:hover{
    -webkit-filter: brightness(70%);
}

.music{
  background-image: url("music.jpg");
  background-size:cover;
  -webkit-filter: brightness(70%);
}

.music:hover{

}

.col-lg-7{
  /*change this for the main images*/
  padding:0px;
}

.col-lg-4 li{
  margin-bottom:20px;

}

.col-lg-4{
  padding-right:50px;
}
.jumbotron{
  padding:30px;
  margin-bottom:0;
  height:700px;
}

footer{
  background-color:#003300;
  height:300px;
  padding-top:80px;
  color:white;
  /*position:fixed;*/
}
